.Main-chat
  .Main-chat__group-contents
    .Main-chat__group-contents__info
      .Main-chat__group-contents__info__name
        test
      %ul.Main-chat__group-contents__info__member
        Member:
        %li.Main-chat__group-contents__info__member__list
          masa
    = link_to "#", class: "Main-chat__group-contents__edit" do
      Edit
  .Main-chat__message
    .Main-chat__message__info
      .Main-chat__message__info__name
        masa
      .Main-chat__message__info__times
        2020/7/8(wed) 17:43:01
    .Main-chat__message__content
      おはよう！
    .Main-chat__message__info
      .Main-chat__message__info__name
        masa
      .Main-chat__message__info__times
        2020/7/8(wed) 17:43:01
    .Main-chat__message__content
      おはよう！
  .Main-chat__message-form
    %form.Main-chat__message-form__form-contents
      .Main-chat__message-form__form-contents__input-text
        %input.Main-chat__message-form__form-contents__input-text__text{"placeholder": "type a message", "type": "text"}
        %label.Main-chat__message-form__form-contents__input-text__label
          =icon('far', 'image', class: "Main-chat__message-form__form-contents__input-text__icon")
          %input.Main-chat__message-form__form-contents__input-text__label__img{"type": "file"}
      %input.Main-chat__message-form__form-contents__input-text__submit-btn{"value": "Send", "type": "submit"}
